html, body{

  width:100%;
  height:100%;

}

.navHead{
  height: 70px;
  box-shadow: 2px 4px 7px -1px rgba(0,0,0,0.28);
}
.nav1{
  background: #f7f7f7;
  height: 100%;
  
}
.navMenu{
  background: #f7f7f7;
  
}
.navMenu:hover{
  text-decoration: none;
}
.input{
  width: 
}
.con{
  background: #ae2b26;
  height: auto;

}
.hero{
  background: #ae2b26;
  position: absolute;
  z-index: 2;
  width: 100%;
  box-shadow: 2px 4px 7px -1px rgba(0,0,0,0.28);

}
.carousel{
  position: absolute;
  z-index: 1;

}
.carousel:hover{
  cursor: pointer;
}
.card:hover{
  cursor: pointer;
}
img:hover{
  cursor: pointer;
} 
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7c6edf;
}

.card:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.newhead {
  position: relative;  
  border:none;
  margin: ;
  overflow: hidden;
}
.newhead img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.footer {   
   width: 100%;
   text-align: center;
   background:"#f7f7f7";
   height: 10px;
}

.af{
  font-size: 15px;
  color: #888888;
}

